<nav class="navbar">
  <div class="container">

    <div class="navbar-desktop">
      <div>
        <a class="navbar-brand" [routerLink]="['']"><i class='bx bx-bullseye'></i> Untitled UI <span>the writing desk</span></a>

        <ul class="navbar-nav">
          <li>
            <a [routerLink]="['']">Home</a>
          </li>
          <li>
            <a [routerLink]="['']">Products</a>
          </li>
          <li>
            <a [routerLink]="['']">Resources</a>
          </li>
          <li>
            <a [routerLink]="['']">Pricing</a>
          </li>
        </ul>
      </div>

      <div class="user-content">
        <a class="content-img" href="#">
          <img src="https://github.com/IsaacLouzeiro.png" alt="user image">
        </a>
      </div>
    </div>

    <input type="checkbox" id="checkbox-overlay">
    <div class="navbar-mobile">
      <a class="navbar-brand" [routerLink]="['']"><i class='bx bx-bullseye'></i> Untitled UI <span>the writing desk</span></a>

      <ul class="navbar-nav">
        <li>
          <a [routerLink]="['']">Home</a>
        </li>
        <li>
          <a [routerLink]="['']">Products</a>
        </li>
        <li>
          <a [routerLink]="['']">Resources</a>
        </li>
        <li>
          <a [routerLink]="['']">Pricing</a>
        </li>
      </ul>

      <label for="checkbox-overlay" class="navbar-toggler">
        <i class='bx bx-menu'></i>
        <i class='bx bx-x'></i>
      </label>
    </div>
  </div>
</nav>
