<div class="main-card">
  <div class="img-content">
    <a href="#">
      <img src="https://miro.medium.com/v2/resize:fit:720/0*agrh5zAuqtHk41yN" alt="Photo by Shubham Dhage on Unsplash">
    </a>
  </div>

  <div class="writing-content">
    <h2><a href="#"><span>Blockchain: O que é e como funciona? (Direto ao Ponto)</span> <i class='bx bx-arrow-back'></i></a></h2>
    <p><a href="#">Blockchain é uma cadeia de dados em blocos que transitam em uma ‘‘rede transparente’’, onde é possível que elementos passem por essa</a></p>

    <app-user-card imglink="https://github.com/isaaclouzeiro.png" username="Isaac Louzeiro" postdate="20 may 2023"></app-user-card>
  </div>
</div>
