.menubar-component {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .navbar-brand {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      font-weight: bold;

      i {
        font-size: 2rem;
        margin-right: .2rem;
      }
    }

    p {
      margin: 2rem 0;
      font-size: 1.1rem;
      line-height: 25px;
    }
  }

  ul {
    list-style-type: none;

    li {
      margin: 1rem 0;

      a {
        font-size: 1.09rem;
        font-weight: 500;
      }
    }
  }

  @media only screen and (max-width: 1150px) {
    flex-wrap: wrap;

    .info {
      width: 100%;
      align-items: center;

      p {
        margin: .5rem 0 1rem 0;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    justify-content: space-between;
    ul {
      width: 30%;

      li {
        font-size: .9rem;
        a {
          font-size: .9rem;
        }
      }
    }
  }

  @media only screen and (max-width: 300px) {
    ul {
      width: 50%;
    }
  }


}
