<div class="menubar-component">
  <div class="info">
    <a class="navbar-brand" href="#"><i class='bx bx-bullseye'></i> Untitled UI</a>
    <p>Design amazing digital experiences<br> that create more happy in the world.</p>
  </div>

  <ul>
    <li>Product</li>
    <li><a href="#">Overview</a></li>
    <li><a href="#">Features</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Tutorials</a></li>
    <li><a href="#">Pricing</a></li>
    <li><a href="#">Releases</a></li>
  </ul>

  <ul>
    <li>Company</li>
    <li><a href="#">About us</a></li>
    <li><a href="#">Carrers</a></li>
    <li><a href="#">Press</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Media kit</a></li>
    <li><a href="#">Contact</a></li>
  </ul>

  <ul>
    <li>Resources</li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Newsletter</a></li>
    <li><a href="#">Events</a></li>
    <li><a href="#">Help center</a></li>
    <li><a href="#">Tutorials</a></li>
    <li><a href="#">Support</a></li>
  </ul>

  <ul>
    <li>Social</li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Linkedin</a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Github</a></li>
    <li><a href="#">AngelList</a></li>
    <li><a href="#">Dribbble</a></li>
  </ul>

  <ul>
    <li>Legal</li>
    <li><a href="#">Terms</a></li>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">Cookies</a></li>
    <li><a href="#">Licenses</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>
