<app-header></app-header>
<div>
  <main>
    <app-main-card
      Id="1"
      creditPhoto="Photo by Shubham Dhage on Unsplash"
      photoCover="https://miro.medium.com/v2/resize:fit:720/0*agrh5zAuqtHk41yN"
      cardTitle="Blockchain: O que é e como funciona? (Direto ao Ponto)"
      cardDescription="Blockchain é uma cadeia de dados em blocos que transitam em uma ‘‘rede transparente’’, onde é possível que elementos passem por essa"

      userImgLink="https://github.com/isaaclouzeiro.png"
      username="Isaac Louzeiro"
      postdate="12 feb 2023"
    ></app-main-card>
    <div class="common-card">
      <app-common-card
        Id="2"
        creditPhoto="Photo by Choong Deng Xiang on Unsplash"
        photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/1*VKdR33uzNVJuE1zL_LQbcw.png"
        cardTitle="NFT: O que é, como funciona e como comprar? (Direto ao ponto)"
        cardDescription="NFT é uma abreviação de Not Fungible Token (Token Não Fungível em português). Isso quer dizer que esse Ativo Digital é imerso em uma"

        userImgLink="https://github.com/isaaclouzeiro.png"
        username="Isaac Louzeiro"
        postdate="30 jan 2023"
      ></app-common-card>

      <app-common-card
        Id="3"
        creditPhoto="Photo by regularguy.eth on Unsplash"
        photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/1*slcSr1rdFMF7ajpAohmmIg.png"
        cardTitle="NFT é apenas arte e pirâmide? Vantagens do NFT na Web 3"
        cardDescription="No post anterior falei um pouco sobre o NFT de uma forma resumida. Agora irei um pouco além de mercados de imagens. Vou dizer sobre"

        userImgLink="https://github.com/isaaclouzeiro.png"
        username="Isaac Louzeiro"
        postdate="5 feb 2023"
      ></app-common-card>

      <app-common-card
        Id="1"
        creditPhoto="Photo by Shubham Dhage on Unsplash"
        photoCover="https://miro.medium.com/v2/resize:fit:720/0*agrh5zAuqtHk41yN"
        cardTitle="Blockchain: O que é e como funciona? (Direto ao Ponto)"
        cardDescription="Blockchain é uma cadeia de dados em blocos que transitam em uma ‘‘rede transparente’’, onde é possível que elementos passem por essa"

        userImgLink="https://github.com/isaaclouzeiro.png"
        username="Isaac Louzeiro"
        postdate="12 feb 2023"
      ></app-common-card>

      <app-common-card
        Id="4"
        creditPhoto="Photo by Internet"
        photoCover="https://pixabay.com/get/g88bf24dab8a348a5cbda94e5c949e26561270f240486e7eb67bba59054307d34cdb4baff7a19975e51f8ebf311ab1e64e7206172d6e6bd2ac049c8f59ad2124f02ae52139f437e7a41f1adf42aca1299_640.jpg"
        cardTitle="Existe uma melhor forma para a criação de um website?"
        cardDescription="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis nam magnam distinctio iusto repellat! Tenetur minima ut illum"


        userImgLink="https://github.com/isaaclouzeiro.png"
        username="Isaac Louzeiro"
        postdate="12 feb 2023"
      ></app-common-card>
    </div>
    <app-pagination></app-pagination>
  </main>

  <aside>
    <app-aside></app-aside>
  </aside>
</div>
<app-testimonial></app-testimonial>
