.container {
  max-width: 1440px;
  margin: auto;
  padding: 1em;

  div {
    display: grid;
    grid-template-columns: 3fr 1fr;

    main {
      padding-right: 1rem;
    }

    aside {
      padding-left: 1rem;
    }

    @media only screen and (max-width: 997px) {
      grid-template-columns: 1fr;

      aside {
        display: none;
      }
    }
  }
}
