<app-header></app-header>
<div>
  <main>
    <app-main-card
      Id="{{ dataPost[0].id }}"
      creditPhoto="{{ dataPost[0].credit_photo }}"
      photoCover="{{ dataPost[0].photo }}"
      cardTitle="{{ dataPost[0].title }}"
      cardDescription="{{ dataPost[0].description_alt }}"

      userImgLink="{{ dataPost[0].author_img }}"
      username="{{ dataPost[0].author }}"
      postdate="{{ dataPost[0].date }}"
    ></app-main-card>
    <div class="common-card">
      <app-common-card
        *ngFor="let item of dataPost"
        Id="{{ item.id }}"
        creditPhoto="{{ item.credit_photo }}"
        photoCover="{{ item.photo }}"
        cardTitle="{{ item.title }}"
        cardDescription="{{ item.description_alt }}"
        userImgLink="{{ item.author_img }}"
        username="{{ item.author }}"
        postdate="{{ item.date }}"

      ></app-common-card>
    </div>
    <app-pagination></app-pagination>
  </main>

  <aside>
    <app-aside></app-aside>
  </aside>
</div>
<app-testimonial></app-testimonial>
