<div class="container">
  <app-nav-bar></app-nav-bar>
  <app-header></app-header>

  <div>
    <main>
      <app-main-card></app-main-card>
      <div class="common-card">
        <app-common-card></app-common-card>
        <app-common-card></app-common-card>
        <app-common-card></app-common-card>
        <app-common-card></app-common-card>
        <app-common-card></app-common-card>
        <app-common-card></app-common-card>
        <app-common-card></app-common-card>
        <app-common-card></app-common-card>
        <app-common-card></app-common-card>
      </div>
    </main>

    <aside>
      <app-aside></app-aside>
    </aside>
  </div>
</div>
