@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@1&display=swap');

$color-bg: #f6f6f6;
$color-txt: #131a28;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $color-bg;
  color: $color-txt;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;

  &:hover {
    opacity: .9;
  }
}
